@import './reset';
@import './mixin';
@import './vars';


body {
    background-color: $bacground-color;
    color: $main-color;
    .header {
        @include flex(row, space-between, center, 0px);
        padding: 28px 111px;
        .nav{
            &__list {
                @include flex(row, center, center, 40px);
            }
            &__link {
                @include Inter(16px, 400, 160%);
                text-decoration: none;
                color: $main-color;
            }
            &__link:hover {
                border-bottom: 2px solid $secondary-color;
            }
        }
    }
    .main {
        @include flex(column, flex-start, center, 140px);
        padding: 92px 87px;
        .section1 {
            @include flex(row, flex-start, flex-start, 230px);
            &-container {
                @include flex(column, flex-start, flex-start, 72px);
                width: 41%;
                .section1-box{
                    @include flex(column, flex-start, flex-start, 20px);
                    &__title {
                        @include Canela(64px, 500, 120%);
                        color: $main-color;
                        &--green {
                            color: $secondary-color;
                        }
                    }
                    &__text {
                        @include Inter(16px, 400, 160%);
                        color: $main-color;
                    }
                    &__buttons{
                        @include flex(row, flex-start, center, 20px);
                        margin-top: 20px;
                    }
                    &__buttons-btn1 {
                        @include Inter(16px, 400, 120%);
                        padding: 12px 40px;
                        border-radius: 8px;
                        color: $main-color;
                    }
                }
                .section1-box1{
                    @include flex(row, flex-start, flex-start, 20px);
                    &__numbers{
                        border-right: 1px solid $secondary-color;
                        padding-right: 60px;
                        
                        @include flex(column, center, flex-start, 30px);
                        &-text{
                            @include Canela(48px, 500, 30px);
                            color: $main-color;
                            &--green {
                                color: $secondary-color;
                            }
                        }
                        &-text1{
                            @include Inter(16px, 400, 160%);
                            color: $main-color;
                        }
                    }
                    &__numbers:last-child{
                        border-right:none;
                    }
                }
            }
            &-container1{
              &__img1{
                position: absolute;
                top: 404px;
                right: 536px;

              }
              .section1-box{
                @include flex(column, center, stretch, 20px);
                padding: 20px;
                background-color: $third-color;
                border-top: 1px solid $secondary-color; 
                border-radius: 16px;
                position: absolute;
                top: 667px;
                right:132px;
                .section1-textbox{
                  @include flex(row, center, center, 105px);
                  &__container{
                    @include flex(column, center, center, 20px);
                    &-text{
                        @include Inter(16px, 400, 160%);
                        color:$secondary-color;
                    }
                    &-text1{
                        @include Inter(16px, 700, 120%);
                    }
                  }
                }
                &__btn{
                    @include Inter(16px, 700, 120%);
                    border: 1px solid $secondary-color;
                    border-radius: 8px;
                    padding: 12px 40px;
                    color: $secondary-color;
                }
              }
            }
        }
        .section2{
            @include flex(column, center, center, 30px);
            &-container{
                @include flex(row, space-between, center, 223px);
                &__title{
                    width: 40%;
                   &--green{
                    color: $secondary-color;
                   }
                }
            }
            .section2-cart {
                @include flex(row, center, center, 30px);
            }
            &-container1{
                @include flex(column, center, center, 23px);
                border-top: 1px solid $secondary-color;
                border-radius: 28px;
                padding: 20px;
                background-color: $third-color;
                &-wrapper{
                    @include flex(column, center, center, 16px);
                    .section2-box{
                        @include flex(row, center, center, 42px);
                        &__text{
                            @include Inter(24px, 700, 120%);
                        }
                        &__cont{
                            @include flex(row, center, center, 4px);
                            &-text{
                                @include Inter(16px, 700, 120%);
                            }
                        }
                    }
                    .section2-box1{
                        @include flex(row, center, center, 93px);
                        &__time{
                            @include flex(column, flex-start, flex-start, 4px);
                            &-text1{
                                @include Inter(14px, 400, 160%);
                                color: $fourth-color;
                            }
                            &-line{
                                @include flex(row, center, center, 14px);
                                &-text{
                                    @include Inter(16px, 700, 120%);
                                }
                            }
                        }
                        &__btn {
                            @include Inter(16px, 700, 120%);
                            border: 1px solid $secondary-color;
                            border-radius: 8px;
                            padding: 12px 40px;
                            color: $secondary-color;
                        }
                    }
                } 
            }
        }
        .section3{
            @include flex(row, center, center, 391px);
            &-container{
                width: 40%;
                @include flex(column, flex-start, flex-start, 20px);
                &__title{
                    @include Canela(48px, 500, 120%);
                    width: 63%;
                    &--green{
                        color: $secondary-color;
                    }
                }
                &__text{
                    @include Inter(16px, 400, 160%);
                    width: 82%;
                }
                &__btn{
                    @include flex(row, flex-start, center, 20px);
                    margin-top: 20px;
                    &-button1{
                        @include Inter(16px, 700, 120%);
                    }
                }
            }
            &-container1{
                @include flex(row, flex-start, flex-start, 20px);
                &__img{
                    position: absolute;
                    top: 1810px;
                    right: 394px;
                }
            }
        }
        .section4{
            @include flex(column, center, center, 64px);
            &-container{
                @include flex(row, space-between, center, 570px);
                &__title{
                    @include Canela(48px, 500, 120%);
                    width: 27%;
                    &--green{
                        color: $secondary-color;
                    }
                }
            }
            &-container1{
                @include flex(row, flex-start, flex-start, 30px);
                &-wrapper {
                    @include flex(column, flex-start, flex-start, 30px);
                    &-cont {
                        @include flex(row, flex-start, flex-start, 30px);
                        .section4-box1{
                            @include flex(row, flex-start, flex-start, 20px);
                            background-image: url(../image/png/Back-Avatar1.png);
                            background-repeat: no-repeat;
                            background-size: cover;
                            padding: 239px 104px 24px 24px;
                            &__textbox{
                                @include flex(column, flex-start, flex-start, 4px);
                                &-text{
                                    @include Inter(14px, 400, 160%);
                                }
                                &-text1{
                                    @include Inter(16px, 700, 120%);
                                }
                            }
                          
                        }
                        .section4-box2{
                            @include flex(row, flex-start, flex-start, 20px);
                            background-image: url(../image/png/Back-Avatar2.png);
                            background-repeat: no-repeat;
                            background-size: cover;
                            padding: 239px 323px 24px 24px;
                            &__textbox{
                                @include flex(column, flex-start, flex-start, 4px);
                                &-text{
                                    @include Inter(14px, 400, 160%);
                                }
                                &-text1{
                                    @include Inter(16px, 700, 120%);
                                    width: 100%;
                                }
                            }
                        }
                        .section4-box3{
                            @include flex(row, flex-start, flex-start, 20px);
                            background-image: url(../image/png/Back-Avatar4.png);
                            background-repeat: no-repeat;
                            background-size: cover;
                            padding: 239px 191px 24px 24px;
                            &__textbox{
                                @include flex(column, flex-start, flex-start, 4px);
                                &-text{
                                    @include Inter(14px, 400, 160%);
                                }
                                &-text1{
                                    @include Inter(16px, 700, 120%);
                                }
                            }
                        }
                        .section4-box4{
                            @include flex(row, flex-start, flex-start, 20px);
                            background-image: url(../image/png/Back-Avatar5.png);
                            background-repeat: no-repeat;
                            background-size: cover;
                            padding: 239px 212px 24px 24px;
                            &__textbox{
                                @include flex(column, flex-start, flex-start, 4px);
                                &-text{
                                    @include Inter(14px, 400, 160%);
                                }
                                &-text1{
                                    @include Inter(16px, 700, 120%);
                                }
                            }
                        }
                    }
                }
                .section4-box5{
                    @include flex(row, flex-start, flex-start, 20px);
                    background-image: url(../image/png/Back-Avatar3.png);
                    background-repeat: no-repeat;
                    background-size: cover;
                    padding: 580px 246px 24px 24px;
                    &__textbox{
                        @include flex(column, flex-start, flex-start, 4px);
                        &-text{
                            @include Inter(14px, 400, 160%);
                        }
                        &-text1{
                            @include Inter(16px, 700, 120%);
                        }
                    }
                }
            }

        }
        .section5{
            @include flex(row, center, center, 290px);
            &-container{
                @include flex(row, center, center, 30px);
                &__img1{
                    margin-top: 100px;
                    margin-left: -160px;
                }
            }
            &-container1{
                @include flex(column, flex-start, flex-start, 30px);
                &__title{
                    @include Canela(48px, 500, 120%);
                    &--green{
                        color: $secondary-color;
                    }
                }
                &__text{
                    @include Inter(16px, 400, 160%);
                    width: 81%;
                }
                &__label{
                    &-input{
                        @include Inter(16px, 400, 160%);
                        padding: 16px 24px;
                    }
                }
            }
        }
        .title{
            @include Canela(48px, 500, 120%);
        }
    }
    .button {
        @include Inter(16px, 700, 120%);
        background-color: $secondary-color;
        border-radius: 8px;
        color: $bacground-color;
        padding: 12px 40px;
    }
}


@font-face {
    font-family: 'Canela';
    src: url(../fonts/CanelaText-Medium-Trial.otf) format('otf');
    font-weight: 500;
  }

